<div id="left_selection">
    <div id="username">{{name}}</div>
    <input id="evname" type="text" placeholder="Enter your event name">
    <input id="startdate" type="date">
    <input id="starttime" type="time">
    <div id="text">
        TO
    </div>
    <input id="enddate" type="date">
    <input id="endtime" type="time">
    <div id="floating-panel">
        <input id="address" type="textbox" value="Vancouver,CA">
        <input id="sendadd" type="button" value="Show the location on the map">
    </div>
    <div id="map"></div>
    <script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: { lat: 49.246292, lng: -123.116226 }
        });
        var geocoder = new google.maps.Geocoder();
        document.getElementById('sendadd').addEventListener('click', function() {
            geocodeAddress(geocoder, map);
        });
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFRnN-cwt0ZNwN6slQX_zy7xt8UWbpXKE&callback=initMap">
    </script>
    <div id="submit">
        <button>Submit</button>
    </div>-->
</div>
<div class="right_window" id="profile">
    <div id="eventsinfo">
        <div id="eventname">Your Event Info</div>
        <div id="info">
            {{#each number}}
            <div class="evinfo">
                <div>Event name: {{this.eventname}}</div>
                <div>From: {{this.fromtime}}</div>
                <div>End: {{this.endtime}}</div>
                <div>Location: {{this.location}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <!-- Triple squiggy for displaying the stuff-->
</div>
<!-- <script src="event.js"></script> -->